# Python cache
*.pyc
.ipynb_checkpoints/
*.egg-info/

# Virtual environments
venv/

# IDE settings
.vscode/
.idea/

# OSX-specific
.DS_Store

# Environment files
.env.local
.env.production

# Data / databases
*.db

# Runtime artefacts
logs/
dist/
users.json
sources.json
conversations.json
messages.json
reactions.json
chunks.db/

rag_venv/
db/
images_pymupdf4llm/
images_unstructured_pdf/
